@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --background: hsl(216, 12%, 8%);
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: 'Overpass', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
}


.card {
  margin: 0 1.25rem;
  background-color: var(--dark-blue);
  padding: 1.50rem ;
  padding-bottom: 1.75rem;
  border-radius: 16px;
  color: var(--medium-grey);
  max-width: 385px;
}

img[alt="golden star"] {
  background-color: hsla(217, 12%, 63%, 0.1);
  padding: .75rem;
  border-radius: 100%;
}

h1, p{
  margin-top: .75rem;
}

p {
  line-height: 1.40rem;
  color: var(--medium-grey);
}

h1,h2 {
  font-size: 1.75rem;
  color: #fff;
}

form {
  margin-top: 1.5rem;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.rating > button {
  /* background-color: hsla(217, 12%, 63%, 0.175); */
  background-color: #333d47;
  color: var(--medium-grey);
  font-family: inherit;
  border: none;
  outline: none;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  transition: background-color 500ms, color 250ms;
}

.rating > button:hover {
  background-color: var(--medium-grey);
  color: #fff;
}

.selected {
  background-color: var(--orange) !important; 
  color: #fff !important;
}

button[type="submit"] {
  margin-top: 1.50rem;
  width: 100%;
  padding: 1rem;
  border-radius: 26px;
  border: none;
  background-color: var(--orange);
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 500ms;
}

button[type="submit"]:hover {
  color: var(--orange);
  background-color: #fff;
}

/* CARD THANK YOU */

.card-thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.card-thanks span{
  margin-top: 1.25rem;
  width: fit-content;
  padding: .5rem .75rem;
  border-radius: 16px;
  background-color: #333d47;
  color: var(--orange);
  font-size: 15px;
}

.card-thanks h2 {
  margin-top: 1.75rem;
}

@media screen and (min-width: 750px) { 
  .card {
    padding: 1.75rem 2rem;
    padding-top: 2rem;
  }

  button[type="submit"] {
    margin-top: 2rem;
    padding: .75rem 1rem;
    font-size: 15px;
  }

  .card-thanks {
    padding: 2rem 2.25rem;
    padding-bottom: 2.5rem;
  }

  .card-thanks span{
    padding: .5rem 1rem;
    font-size: 14px;
  }
}

.hide {
  display: none;
}

.attribution { 
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 11px; 
  text-align: center; 
  margin-bottom: 1rem;
}


.attribution a { 
  color: hsl(228, 45%, 44%); }
